
.header_container{
    background-color: #eaeaea; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_container .Version{
    font-size: 15px;
    width: 20%;
    color: rgb(147, 101, 208);
    display: inline;
    font-weight: bold;
}
.header-nav{
    display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
}
.header-nav .header-items{
    list-style: none;
    padding: 10px;
}
.avatar-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar-wrapper .avatar-user{
    margin-left: 10px;
}